/* ************************************
************* TOP PART *****************
************************************* */

.section-container {
  display: inline-blocks;
  padding-left: 2.5rem;
  height: 5.625rem;
}

.section-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 28px;
  color: #3a9fdc;
  text-transform: uppercase;
  background-color: white;
  position: relative;
  left: 10px;
  padding: 0 0.8em;
  display: inline-block;
}

.section-container::after {
  content: " ";
  position: absolute;
  height: 1px;
  background-color: #cccccc;
  top: 2.81rem;
  left: 0;
  width: 100%;
  z-index: -1;
}

.top-container {
  padding: 0 4rem;
}

.top-container h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  margin: 0;
}

.top-container h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 49px;
  line-height: 60px;
  letter-spacing: -0.44px;
  color: #000000;
  margin: 15px 0 0;
}

.top-container p {
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 24px;
  color: #666666;
  margin: 25px 0 2rem;
  font-weight: 400;
}

.top-image {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.top-image img {
  width: 100%;
  object-fit: cover;
}

.top-epi {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: -0.13px;
  color: #999999;
  position: relative;
  left: 20px;
  top: -30px;
  background-color: white;
  padding: 1rem;
  margin: 0 2rem;
  display: inline-block;
  width: 92%;
}

.top-epi em {
  font-weight: 700;
  font-style: normal;
  color: #000000;
}

/* ************************************
*********** MIDDLE PART ***************
************************************* */

.container {
  margin: 0;
  width: 100%;
  padding: 0;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1rem;
  grid-gap: 1rem;
}
.content-left {
  width: 100%;
  padding-top: 15px;
  grid-column: 1 / 3;
}

.content-right {
  width: 100%;
  padding-top: 15px;
  grid-column: 3 / 4;
  padding-left: 2rem;
}

@media (max-width: 1024px) {
  .content-left {
    grid-column: 1 / 4;
  }

  .content-right {
    grid-column: 1 / 4;
  }
}

/* ************************************
************** ARTICLE ****************
************************************** */

.article-container {
  padding: 0 6rem;
}

.article-time {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  color: #000000;
  text-align: center;
}

.article-time em {
  color: #3a9fdc;
  font-style: normal;
}

.author-container {
  margin: 1rem 0 2rem;
  display: flex;
}

.author-image {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.author-data {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  margin-left: 1.5rem;
  align-items: flex-start;
  justify-content: center;
}

.author-text {
  position: relative;
  top: 0.4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}

.author-text em {
  color: #3a9fdc;
  font-style: italic;
  font-weight: 400;
}

.article-text {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 32px;
  letter-spacing: -0.16px;
  color: #282828;
  font-weight: 400;
}

.article-text:first-child::first-letter {
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 1px;
  font-size: 50px;
  color: #000000;
}

.article-epi {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.11px;
  color: #333333;
  position: relative;
  background-color: white;
  padding: 1rem 1rem 0.5rem;
  margin: 0;
  display: inline-block;
  width: 100%;
}

.article-hr {
  border: 1px solid #cccccc;
  margin-bottom: 4rem;
}

.article-container h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #000000;
  margin: 0;
}

.article-image {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.article-intertit-upper {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.9rem;
  color: #333333;
  margin: 0.8rem 0 0;
  text-transform: uppercase;
}

.content-right-info {
  width: 100%;
}

.content-right-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-right-info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333333;
}
