.content-right-info {
  width: 100%;
}

.content-right-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-right-info p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #333333;
}

.content-right-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  color: #3a9fdc;
  text-transform: uppercase;
}

.content-right-info-item {
  display: flex;
  margin-top: 1rem;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-right-info-item h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #3a9fdc;
  display: inline;
  position: relative;
  top: -10px;
  margin-block-start: 0.8rem;
  margin-block-end: 0;
}

.content-right-info-item h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #333333;
  display: inline;
  position: relative;
  top: -10px;
  margin-block-start: 0.8rem;
  margin-block-end: 0;
}
.content-right-ul {
  display: inline-block;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.content-right-container-number {
  flex: 0 0 40px;
  height: auto;
  margin: 0.6rem 1rem 0 0;
}

.content-right-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-right-hr {
  margin-top: 1rem;
}
