.coment-header-container {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
}

.coment-header-right {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  color: #858585;
  align-items: center;
}

.coment-header-right p {
  margin-right: 0.5rem;
}

.coment-header-right select {
  padding: 0.35rem 0.5rem 0.5rem;
  height: 2rem;
  border: 2px solid #9e9e9e;
  border-radius: 3px;
  background: #dbdbdb;
  font-weight: 700;
  color: #5f5f5f;
}

.coment-header-right select:focus {
  outline: none;
}

.coment-hr {
  border: 1px solid #dbdbdb;
  margin: 2rem 0 1rem;
  width: 100%;
}

.coment-input-container {
  display: flex;
  padding: 1rem auto;
}

.coment-data-container {
  display: flex;
  padding: 1rem auto;
  flex-direction: column;
  margin: 0 5rem 0 0.7rem;
  align-items: flex-start;
}

.coment-input-container input {
  border: 2px solid #cacaca;
  width: 100%;
  margin-left: 0.7brem;
  flex: 0 0 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #5f5f5f;
  padding: 1rem;
  height: 3rem;
}

.coment-input-container input::placeholder {
  color: #cacaca;
}

.coment-image-container {
  flex: 0 0 3rem;
  height: 3rem;
  /* margin-right: 1rem; */
}

.coment-image-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  padding: 0;
}

.coment-ul {
  width: 100%;
  padding: 0;
  margin: 1rem 0 1rem;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
}

.coment-li {
  display: flex;
  margin: 1rem 0 0;
}

.coment-text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.coment-text-container h5 {
  font-size: 0.9rem;
  color: #3a9fdc;
  margin: 0;
}

.coment-text-container p {
  font-size: 0.8rem;
  margin: 0.25rem 0 0.2rem;
  color: #858585;
  line-height: 1.3;
}
.coment-button-actions-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 0.1rem;
}

.coment-button-actions-container button {
  color: #3a9fdc;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  border: none;
  height: 1rem;
  background: none;
  padding: 0;
  margin: 0 0.3rem 0 0;
}

.coment-button-actions-container p {
  height: 1rem;
  margin: 0;
  color: #cacaca;
}
