.dejanos-container {
  padding: 1.5rem 3rem 1.5rem;
  border: 2px solid #b3b3b3;
  font-family: "Roboto", sans-serif;
  margin: 3rem 0;
}

.dejanos-container h2 {
  font-size: 1.23rem;
  font-weight: 700;
  color: #3a9fdc;
}

.dejanos-container p {
  /* margin: 0 1rem; */
  font-size: 0.875rem;
  font-weight: 700;
  color: #000000;
  font-weight: 400;
  color: #999999;
}

.dejanos-body {
  display: flex;
  margin-top: 1rem;
  align-items: flex-start;
}
