.footer-social {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: IconFont;
  line-height: 1;
  font-size: 1rem;
  font-style: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: inherit;
}

.footer-social-link {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: #216497;
  margin: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1rem;
  color: rgb(253, 253, 253);
}
