.secciones-listado-container {
  margin: 4rem auto;
  padding: 0;
  box-sizing: border-box;
}

.secciones-listado-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #3a9fdc;
  display: inline-block;
  margin: 0;
}

.secciones-listado-container hr {
  margin: 0.5rem auto 1rem;
  border: 1px solid rgb(211, 211, 211);
}

.secciones-listado-item {
  display: flex;
  flex-direction: column;
}

.secciones-listado-item p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  margin: 0.5rem 0 0;
}

.secciones-listado-item hr {
  border: 1px solid rgb(216, 216, 216);
  margin: 1rem 0 0.5rem;
}

.secciones-listado-container-img {
  width: 100%;
  height: auto;
}

.secciones-listado-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
