.home-button {
  padding: 0.45rem 1rem 0.25rem;
  background-color: #3a9fdc;
  border-radius: 6px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
  border: none;
  letter-spacing: 0.06rem;
  height: 2.5rem;
}
