.grid-tpi-container {
  margin: 4rem auto;
  padding: 0;
  box-sizing: border-box;
}

.grid-tpi-container h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  color: #3a9fdc;
  display: inline-block;
  margin: 0;
}

.grid-tpi-container hr {
  margin: 0.5rem auto 1.5rem;
  border: 1px solid rgb(211, 211, 211);
}

.grid-tpi {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas: "grid-tpi-item grid-tpi-item grid-tpi-item grid-tpi-item";
  grid-column-gap: 2rem;
  grid-row-gap: 1.875rem;
}

.grid-tpi-item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.grid-tpi-item p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #000000;
  font-weight: 400;
  margin: 0;
}

.grid-tpi-container-img {
  width: 100%;
  height: auto;
}

.grid-tpi-container-img figure {
  height: 9.375rem;
}

.grid-tpi-container-img a {
  width: 100%;
}

.grid-tpi-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
