.footer-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
  margin-bottom: 3 rem;
}

.footer-container hr {
  border: 1px solid rgb(211, 211, 211);
  margin: 0;
  width: 100%;
}

.footer-social {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: IconFont;
  line-height: 1;
  font-size: 1rem;
  font-style: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: inherit;
}

.footer-social-link {
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 100%;
  background-color: #216497;
  margin: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1rem;
  color: rgb(253, 253, 253);
}

.footer-logo {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-logo img {
  width: 20%;
  object-fit: contain;
  margin-left: 3.5rem;
  display: block;
  margin-bottom: 1rem;
}

.footer-supplements {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1rem;
  font-style: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: inherit;
  line-height: 28px;
  color: #333333;
}

.footer-supplements-item {
  margin: 0 0.3rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  list-style: none;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 0.9rem;
  font-style: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  text-decoration: inherit;
  line-height: 28px;
  color: #333333;
}

.footer-links-item {
  margin: 0 0.5rem;
}

/* .footer-links-item::after {
  content: " ";
  display: block;
  position: relative;
  left: 3rem;
  width: 10px;
  height: 1px;
  background-color: black;
  border-top: 1px solid black;
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
} */

.footer-institutional-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 3rem;
  margin: 0 3rem 3rem;
}

.footer-institutional {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.footer-institutional h5 {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  font-size: 1rem;
  margin: 0 0.3rem;
}

.footer-institutional img {
  height: 1.5rem;
  object-fit: contain;
  margin: 0 0.3rem;
}
