.related-container {
  margin: 3rem auto;
}

.related-hr {
  border: 1px solid #3a9fdc;
}

.related-image {
  display: grid;
  grid-template-columns: 33% 66%;
  grid-column-gap: 1rem;
  grid-gap: 1rem;
}

.related-image img {
  width: 100%;
  margin: 1rem 0;
}

.related-text h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.56rem;
  color: #3a9fdc;
  margin: 2.3rem 0 0;
  text-transform: uppercase;
}

.related-text h5 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.9rem;
  color: #333333;
  margin: 0.8rem 0 0;
}
