.suscribite-container {
  padding: 1rem 3rem 2rem;
  border: 2px solid #b3b3b3;
  font-family: "Roboto", sans-serif;
  margin: 3rem 0;
}

.suscribite-container h2 {
  font-size: 1.1rem;
  font-weight: 700;
  color: #333333;
  text-transform: uppercase;
}

.suscribite-container p {
  margin: 1rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: #000000;
  font-weight: 400;
  color: #999999;
}

.suscribite-body {
  display: flex;
  margin-top: 1rem;
}
