@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: var(--white);
  -webkit-font-smoothing: auto;
  line-height: 1.2;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0 auto;
  background-color: var(--white);
  -webkit-font-smoothing: auto;
  line-height: 1.2;
  font-weight: 500;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
html {
  font-size: 16px;
}
/* @media (max-width: 980px) {
  html {
    font-size: 14px;
  }
} */
