.container {
  margin: 6rem 0;
}
.content-temas {
  display: flex;
  justify-content: space-between;
  padding: 0 0.8rem;
  align-items: center;
}

.content-temas h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.375rem;
  color: #333333;
  text-transform: uppercase;
}

.content-temas h3 {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  color: #3a9fdc;
  font-weight: 400;
}
